.bh-btn {
  border: 0;
  padding: 0.5em 1em;
  display: inline-block;
  color: rgba(0,0,0,0.7);
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
  background: #d4d4d4;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  border-radius: 2px;
}

.bh-btn:hover,
.bh-btn:focus {
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.bh-btn:focus {
  outline: none;
}
.bh-btn-active,
.bh-btn:active{
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset;
}

.bh-btn-disabled {
  background-image: none;
  filter: aplpa(opacity=40);
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.bh-btn-xs {
  font-size: 70%;
}

.bh-btn-sm {
  font-size: 85%;
}

.bh-btn-bg {
  font-size: 110%;
}

.bh-btn-xg {
  font-size: 125%;
}

.bh-btn-primary,
.bh-btn-success,
.bh-btn-warning,
.bh-btn-error {
  color: white;
}
.bh-btn-primary {
  background: rgb(49, 135, 233);
  border: 1px solid rgb(49, 135, 233);
}
.bh-btn-success {
  background: rgb(42, 238, 156); 
  border: 1px solid rgb(42, 238, 156); 
}
.bh-btn-warning {
  background: rgb(235, 150, 54);
  border: 1px solid rgb(235, 150, 54);
}
.bh-btn-error {
  background: rgb(235, 54, 54);
  border: 1px solid rgb(235, 54, 54);
}

.bh-btn-circle {
  border-radius: 20px;
}

.bh-btn-border {
  background: white;
  color: inherit;
}

/* 幽灵按钮 */
.bh-btn-ghost {
  position: relative;
  background: #fff;
  border: 1px solid rgb(255, 255, 255);
  transition:  2s;
}

.bh-btn-ghost_line {
  position: absolute;
  background: #4db5c7;
  transition: 0.5s;
}
/* 幽灵按钮：右边线 */
.bh-btn-ghost_line__right{
  width: 2px;
  height: 0;
  right: -2px;
  top: -100%;
}

.bh-btn-ghost:hover .bh-btn-ghost_line__right{
  top:0;
  height: 100%;
}

/*  幽灵按钮:左边线 */
.bh-btn-ghost_line__left {
  width: 2px;
  height: 0;
  left: -2px;
  bottom: -100%;
}

.bh-btn-ghost:hover .bh-btn-ghost_line__left {
  bottom:0;
  height: 100%;
}


/*  幽灵按钮:上边线 */
.bh-btn-ghost_line__top {
  width: 0;
  height: 2px;
  top: -2px;
  left: -100%;
}

.bh-btn-ghost:hover .bh-btn-ghost_line__top {
  left:0;
  width: 100%;
}


/*  幽灵按钮:左边线 */
.bh-btn-ghost_line__bottom {
  width: 0;
  height: 2px;
  bottom: -2px;
  right: -100%;
}

.bh-btn-ghost:hover .bh-btn-ghost_line__bottom {
  right:0;
  width: 100%;
}