.hc-btn {
  border: 0;
  padding: 0.5em 1em;
  display: inline-block;
  color: rgba(0,0,0,0.7);
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
  background: #d4d4d4;
  cursor: pointer;
  border-radius: 2px;
}

.hc-btn:hover,
.hc-btn:focus {
  background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.hc-btn:focus {
  outline: none;
}
.hc-btn-active,
.hc-btn:action{
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 0 6px rgba(0,0,0,.2) inset;
}

.hc-btn-disabled {
  background-image: none;
  filter: aplpa(opacity=40);
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
  pointer-events: none;
}

.hc-btn-xs {
  font-size: 70%;
}

.hc-btn-sm {
  font-size: 85%;
}

.hc-btn-bg {
  font-size: 110%;
}

.hc-btn-xg {
  font-size: 125%;
}

.hc-btn-primary,
.hc-btn-success,
.hc-btn-warning,
.hc-btn-error {
  color: white;
}
.hc-btn-primary {
  background: rgb(49, 135, 233);
}
.hc-btn-success {
  background: rgb(42, 238, 156); 
}
.hc-btn-warning {
  background: rgb(235, 150, 54);
}
.hc-btn-error {
  background: rgb(235, 54, 54);
}

.hc-btn-circle {
  border-radius: 20px;
}